body{
    font-family: Helvetica, Arial, sans-serif; 
    margin: 0;  
  }

body > header {
    background-color: dodgerblue;
    color: white;
}

body > header > nav > ul {
    list-style: none;
    color: white;
}

.indent {
    width: 70%;
    margin: auto;
}

body > header > nav > ul > li > a {
    color : white;
}

#logo{
    margin: 0;
}

.button{ 
    background-color: transparent;
    border: 2px solid dodgerblue;
}